@charset "UTF-8";

/* =====기본스타일 클래스 정의 =====
==============================*/
.align-right{ text-align:right; }
.float-left{ float:left; }
.align-center{ text-align:center; }

/* 채팅방 목록 */
h2 {
    display: block;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
hr{ 
	margin:15px 0; 
}

.result-display{
	width: 400px;
	height: 200px;
	margin: 50px auto;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-img{
	margin-bottom: 3px;
}

table.striped-table{
    border: 1px #FFF solid;
    font-size: 15px;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
table.striped-table td{
	padding: .7em .5em;
	vertical-align: middle;
	text-align: center;
}
table.striped-table td{
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.room_cnt{
	width: 30px;
}
#room_cnt{
	color: red;
}
#chatlist_msg{
	width: 645px;
}

/* 버튼 */
.classic-btn, .red-btn{ 
	width:110px; height:40px; border-radius:5px; color:white; cursor:pointer; 
}
.classic-btn:hover, .red-btn:hover{ 
	background-color:transparent; transition:0.2s ease-out; 
}
.classic-btn{ 
    border: 1px #425872 solid;
    background-color: #425872;
}
.classic-btn:hover{ 
	color: #425872;
}

/* 채팅하기 */
#chatting_message {
    border: 1px solid #7b7b7c;
    width: 800px;
    height: 740px;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
}
.chat_date{
	text-align: right;
    margin-right: 25px;
}
.date-position {
	text-align: center;
	clear: both;
}

.date-position span {
	display: inline-block;
	width: 300px;
	height: 20px;
	border-radius: 10px;
    background-color: #425872;
    color: white;
}

.from-position {
	width: 300px;
	float: right;
    clear: both;
}

.from-position .item {
	background-color: #42587240;
	padding: 10px;
	min-height: 50px;
	border-radius: 20px;
	border-top-right-radius: 0;
}

.to-position {
	width: 300px;
	clear: both;
}

.to-position .item {
	color: white;
	background-color: #425872;
	padding: 10px;
	min-height: 50px;
	border-radius: 20px;
	border-top-left-radius: 0;
}

.to-position div.space-photo {
	float: left;
	width: 15%;
}

.to-position div.space-message {
	float: left;
	width: 85%;
}

.to-position div.space-clear {
	clear: both;
}

#read_cnt{
	float: left;
	margin-top: 70px;
}
#msg{
	float: left;
	width: 85%;
}
form#detail_form {
	width: 820px;
    margin: 0 auto;
    height: 100px;
}

#text_message{
	width: 660px;
	height: 100px;
	margin: 0 auto;
	overflow: auto;
}

#message {
	width: 700px;
    height: 95px;
    resize: none;
    border-color: #7b7b7c;
    border-radius: 5px;
}

#msg_btn{
	width: 114px;
    height: 100px;
}
.chat-mem{
	padding: 2px;
}