@charset "UTF-8";
body{
	width:100%;
	margin:0;
}
/* 영문적용 폰트 */
@font-face{
	font-family:"Giants";
	src:url("../font/Giants-Regular.ttf");
	unicode-range:U+0041-005A, U+0061-007A;
}
/* 영문제외 글자 적용 폰트 */
@font-face{
	font-family:"NanumSquare";
	src:url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");
}

/* 전체 Layout */
*{ font-family: 'NanumSquare', 'Giants'; }

#main{ width:1024px; margin:0 auto; font-size:10pt; }
#main_header{ margin-bottom:10px; padding:0 10px 0 0; }
#main_body{ padding:5px 5px 30px 5px; min-height:500px; width:100% }
#main_footer{ color:white; background-color:#51555f; font-weight:bold; padding:3px 0; }

a{color: inherit; text-decoration: none;}
ul{list-style-type: none; margin-block-start: 0px; margin-block-end: 0px; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0px;}


/* Page 기본 Layout */
.page-main{ width:98%; margin:0 auto; }
.page-one{ width:600px; margin:0 auto; }

/* 공통 정렬 */
.align-center{ text-align:center; }
.align-right{ text-align:right; }
.align-left{ text-align:left; }


/* header */
#header{
	min-width: 1200px;
	margin: 0 auto;
}
.float-right{ float:right; }

.top_menu{
	color:#fff;
	height:43px;
	background:#052345;
}
.nav{
	color:#fff !important;
	height:93px;
	background:#052345;
}
.nav h1{
	float:left;
}
/* 상단 헤더 로고 이미지 */
.nav h1 a img{
	width:138px;
	height:56px;
}

.nav ul{
	list-style:none;
	margin: 0;
}

.logbar{
	background:#1e3044;
}
.searchbar{
	background:#dd032f;
	float:right;
}
.nav .inner-nav{
	color: red;
	float:right;
	height:93px;
	margin-right:47px;
}


.nav ul li.li_depth1{
	float:left;
	line-height:93px;
	height:93px;
}

