<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.food.dao.FoodMapper">
	
	<!-- 기업 식품 등록 -->
	<insert id="insertFood" parameterType="foodVO">
		INSERT INTO food(
			food_num,
			comp_num,
			food_name,
			food_price,
			food_quantity,
			food_content,
			food_photo1,
			food_photo1_name,
			food_photo2,
			food_photo2_name,
			food_regdate,
			food_status)
		VALUES(
			food_seq.nextval,
			#{comp_num},
			#{food_name},
			#{food_price},
			#{food_quantity},
			#{food_content},
			#{food_photo1},
			#{food_photo1_name},
			#{food_photo2},
			#{food_photo2_name},
			sysdate,
			#{food_status}
		)
	</insert>
	
	<!-- 식품목록 레코드수 쿼리 -->
	<select id="selectRowCount" parameterType="string" resultType="integer">
		SELECT
		  COUNT(*)
		FROM food
		WHERE comp_num=#{comp_num}
	</select>
	
	<!-- 식품목록 리스트 페이징 쿼리 -->
	<select id="selectList" parameterType="map" resultType="foodVO">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		  *
			  		FROM food
			  		ORDER BY food_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
</mapper>



















