@charset "UTF-8";
/* 뉴스 상세
-------------*/
input[type="button"], button[type="submit"]{
	width:60px;
	height:30px;
	background-color:#dd032f;
	color:#FFF;
	border:none;
	cursor:pointer;
}
div.news-content{
	min-height:300px;
}
div.news-table{
	margin:0;
	padding:0;
}
div.news-table table#detail_tb,
div.news-table table#detail_tb td,
div.news-table table#detail_tb th{
	border:1px solid #ccc;
	border-collapse : collapse;
	text-align:center;
	font-size:11pt;
}
div.news-table table#detail_tb{
	margin:5px 0 10px 0;
	padding:0;
	width:100%;
	height:100px;
}
div.news-table table th{
	background-color:rgb(230, 230, 230);
}

/* 뉴스 목록
-------------*/
div.news-list table{
	margin:0;
	padding:0;
	width:100%;
}
div.news-list table,
div.news-list table td,
div.news-list table th{
	border:1px solid #ccc;
	border-collapse : collapse;
	text-align:center;
	font-size:11pt;
}
div.news-list table tr{
	height:30px;
}

/* 뉴스 등록, 수정
-------------*/
form#register_form ul li label,
form#modify_form ul li label{
	margin:0 0 5px 10px;
	display:inline-block;
	font-size:14pt;
	width:200px;
}


