<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.gcart.dao.GcartMapper">
	
	<!-- 장바구니 등록, 개수 추후 꼭 추가!! order_quantity-->
	<insert id="insertCart" parameterType="GcartVO">
		INSERT INTO g_cart(cart_num, goods_num, mem_num, reg_date) 
		VALUES(g_cart_seq.nextval, #{goods_num}, #{mem_num}, SYSDATE)
	</insert>

	<!-- 회원번호 별 총 구매금액 (장바구니에서는 포인트 차감이 안되므로 상품 정가만 보여주면 됨)-->
	<!-- <select id="getTotalByMem_num" parameterType="integer" resultType="integer">
		SELECT SUM(sub_total) FROM (
			SELECT c.order_quantity * i.goods_price sub_total 
			FROM g_cart c JOIN goods i ON c.goods_num = i.goods_num
			WHERE c.mem_num = #{mem_num}) totals
	</select> -->
	
	<!-- 장바구니 목록 -->
	<select id="getListCart" parameterType="integer" resultType="GcartVO">
		SELECT * FROM g_cart c JOIN goods i ON c.goods_num = i.goods_num
		WHERE c.mem_num=#{mem_num} ORDER BY i.goods_num ASC
	</select>
	
</mapper>









