<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.trading.dao.TradingMapper">
	<!-- 글쓰기 -->
	<insert id="insertTrading" parameterType="TradingVO">
		INSERT INTO trading(
		 trade_num,
		 trade_title,
		 trade_content,
		 trade_price,
		 <!-- 
		 trade_photo1, 
		 trade_photo2,
		 -->
		 trade_ip,
		 mem_num)
		VALUES(
		 spboard_seq.nextval,
		 #{trade_title},
		 #{trade_content},
		 #{trade_price},
		 <!-- 
		 #{trade_photo1},
		 #{trade_photo2}, 
		 -->
		 #{trade_ip},
		 #{mem_num}
		)
	</insert>
</mapper> 