<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.introduce.dao.PlayerMapper">




	<!-- 선수 등록 -->
		<insert id="insertPlayer" parameterType="playerVO">
			INSERT INTO player(
				player_num,
				player_name,
				player_photoname,
				player_backnumber,
				player_position,
				player_photo,
				player_birthday,
				player_height,
				player_weight,
				player_toway,
				player_join,
				player_career) 
			VALUES(
				player_seq.nextval,
				#{player_name},
				#{player_photoname},
				#{player_backnumber},
				#{player_position},
				#{player_photo},
				#{player_birthday},
				#{player_height},
				#{player_weight},
				#{player_toway},
				#{player_join},
				#{player_career})
		</insert>
		
		<!-- sql 태그와 include 태그를 이용해 SQL문 재사용 -->
		<!-- 선수 검색 -->
		<sql id="playerSearch">
			<where>
				<if test="keyword != null and keyword != ''">
					<if test="keyfield == 1">  <!-- 선수 이름 검색  -->
						player_name LIKE '%' || #{keyword} || '%'
					</if>
					<!-- 
					<if test="keyfield == 2">  
						player_position LIKE '%' || #{keyword} || '%'
					</if>
					 -->
				</if>
			</where>
		</sql>


		<!-- 전체/검색 레코드수 -->
		<select id="selectRowCount" parameterType="map" resultType="integer">
			SELECT
				COUNT(*)
			FROM player
			<include refid="playerSearch"></include>
		</select>
		
		
		<!-- 전체/검색 목록 -->
		<select id="selectPlayerList" parameterType="map" resultType="playerVO">
			SELECT 
				* 
				FROM (SELECT 
					a.*, 
					rownum rnum FROM (SELECT 
						* 
						FROM player 
							<include refid="playerSearch"></include>
								ORDER BY player_num DESC)a)
							<![CDATA[
								WHERE rnum >= #{start} AND rnum <= #{end}
							]]>
		</select>	
</mapper>