@charset "UTF-8";

hr{ margin:15px 0; }

.error-color{ color:#dd032f; }

/* 버튼 */
.accept-btn, .admin-btn, .default-btn{ width:100px; height:30px; border-radius:5px; color:white; font-weight:bold; cursor:pointer; }
.accept-btn:hover, .admin-btn:hover, .default-btn:hover{ background-color:transparent; transition:0.2s ease-out; }

.accept-btn{ border:1px #dd032f solid; background-color:#dd032f; }
.accept-btn:hover{ color:#dd032f; }

.admin-btn{ border:1px #052345 solid; background-color:#052345; }
.admin-btn:hover{ color:#052345; }

.default-btn{ border:1px #999 solid; background-color:#999; }
.default-btn:hover{ color:#999; }

.small{ width:50px; height:25px; }
.big{ width:150px; height:50px; font-size:18px; }

/* 요금안내 */
.price-info{ width:100%; display:flex; justify-content:center; margin:15px 0; font-size:16px; }
.price-left, .price-right{ width:50%; margin:0 auto; }
.refunt-info{ font-size:16px; margin:0 2%; }

.info-left, .info-right{ width:90%; margin:0 auto; }
.color-red{ border:2px solid #dd032f; margin:15px 0; }

.info-left table, .info-right table{ width:90%; margin:0 auto; text-align:center; border-collapse:collapse; font-size:15px; }
.info-left table tr, .info-right table tr{ border-bottom:2px solid #999; }
.info-left table th, .info-right table th{ background:#999; padding:5px; }
.info-left table td, .info-right table td{ padding:5px; }

.info-list{ margin-top:15px; }
.info-list li, .refunt-info li{ margin:10px 0; }

/* 경기 등록 및 수정 */
#insert_game, #update_game{ margin:0 auto; font-size:16px; }

.form-list{ width:50%; margin:0 auto; text-align:center; }
.form-list ul li{ clear:both; margin:25px 0; }
.form-list label{ width:100px; float:left; font-weight:bold; }
.form-list input[type="text"], .form-list input[type="number"]{ width:400px; height:30px; }
.form-list input[type="radio"]{ accent-color:#dd032f; }

/* 경기 목록 */
#game_list, #grade_list, #seat_list{ width:800px; text-align:center; margin:0 auto; }

/* 좌석 등록 */
#seat_write{ width:60%; margin:0 auto; text-align:center; }
#seat_write ul li{ float:left; margin:0 10px; }
#seat_write input[type="number"]{ width:50px; text-align:center; }
#seat_write input[type="checkbox"]{ accent-color:#dd032f; }
